.pledge-container {
    margin: 10px auto;
    overflow: hidden;
}

.pledge-project-details {
    margin: 20px 0px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.pledge-project-details h2 {
    font-size: 36px;
}

.pledge-project-details p {
    font-size: 18px;
}


.pledge-conditions {
    position: relative;
    top: 160px;
    float: left;
    border: 1px solid #f0f0f0;
    width: 300px;
    height: 400px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.pledge-conditions h3 {
    font-size: 20px;
    margin-bottom: 10px;
}



.pledge-conditions p {
    font-size: 14px;

}

@media only screen and (max-width: 1000px) {
    .pledge-project-rewards-container {
        margin: 20px 10px;
    }

    .pledge-project-rewards {
        width: 400px;
        margin: 20px 40px;
    }

    .pledge-conditions {
        top: 0px;
        margin: 20px 50px;
        width: 400px;
        height: 300px;
    }
}