.new-project-heading {
    text-align: center;
}

.new-project-link {
    display: inline-flex;
    gap: 8px;
    background-color: #66EE78;
    color: #000;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

.new-project-link svg {
    width: 20px;
    height: 20px;
}

.project-list {
    margin-top: 30px;
}

.project-container {
    display: flex;
    margin: 30px;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    cursor: pointer;
}

.image-container {
    display: flex;
    margin-right: 10px;
}

.image-container img {
    border-radius: 20px;
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.project-title {
    font-size: 24px;
    font-weight: 500;
}

.project-description {
    margin-top: 10px;
}

.project-goal {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.project-options {
    left: 0;
}

.project-options-btn {
    transition: ease-in-out 0.3s;
    display: inline-flex;
    background-color: #66EE78;
    color: #000;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 15px 10px 20px;
    border-radius: 30px;
}

.project-options-btn:hover {
    background-color: #fff;
    border: 1px solid #66EE78;

}

.no-projects-message {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 90px;
    margin: 20px 0;
}

.no-projects-message p {
    color: #808080;
}

.no-projects-message h3 {
    font-weight: 500;
    font-size: 24px;
}

.project-details-section {
    width: 1500px;
}

@media only screen and (max-width: 800px) {
    .image-container img {
        width: 1000px;
        height: 200px;
    }
}