.loadingIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: transparent;
}

.loadingIcon-video {
    width: 80px;
    height: 80px;
}