.project-updates-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
}

.project-updates-content {
    background: #fff;
    width: 500px;
    height: 490px;
    padding: 20px 20px;
    border-radius: 8px;
    position: relative;
}

.project-updates-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;

}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.project-updates-content label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #333;
}

.project-updates-content input {
    width: 100%;
    padding: 8px 8px 8px 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #66EE78;
    border-radius: 30px;
    outline: none;
}

.project-updates-content textarea {
    width: 100%;
    padding: 8px 8px 8px 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #66EE78;
    border-radius: 30px;
    outline: none;
}

.project-updates-content button {
    background-color: #66EE78;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    color: #000;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #66EE78;
    border-radius: 30px;
    cursor: pointer;
}

.project-updates-content button:hover {
    background-color: #fff;
    border: 1px solid #66EE78;
}

@media only screen and (max-width: 800px) {
    .project-updates-popup {
        padding: 0 40px;
    }
}