.user-profile-container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.user-profile-form {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 50px 80px;
}

.user-profile-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.userProfile-input {
    width: 100%;
    padding: 8px 8px 8px 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #66EE78;
    border-radius: 30px;
    outline: none;
}

.left-section {
    width: 400px;
    margin: 0 70px;
}

.right-section {
    width: 500px;
    margin: 0 20px;
}

.avatar-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.avatar-input {
    width: 400px;
    padding: 8px 8px 8px 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #66EE78;
    border-radius: 30px;
    outline: none;
}

.password-reset-btn,
.save-details {
    background-color: #66EE78;
    color: #000;
    padding: 10px;
    margin: 20px 0;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    cursor: pointer;
    width: 400px;
    height: 50px;
}

.password-reset-btn:hover {
    background-color: #fff;
    border: 1px solid #66EE78;
    color: #000;
}

.logout-container {
    position: absolute;
    top: 50%;
    left: 51%;
    margin-top: 10px;
}

.logout-btn {
    background-color: #ff6464;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    cursor: pointer;
    width: 400px;
    height: 50px;
}

.logout-btn:hover {
    background-color: #fff;
    border: 1px solid #ff6464;
    color: #000;
}


@media only screen and (max-width: 800px) {
    .user-profile-form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        margin: 30px 20px 100px 20px;
    }

    .left-section,
    .right-section {
        width: 100%;
        margin: 0;
    }

    .right-section {
        margin: 0 20px;
    }

    .logout-container {
        position: absolute;
        top: 85%;
        left: 8%;
    }





}